<div class="event">
  <div class="content">
    <div class="summary">
       <em><%= message.user.username %> (<%= message.updated_at.strftime("%d.%m.%Y - %H:%M") %>)</em>: <%= message.body %>
    </div>
  </div>
</div>